
body{
	margin:0;
	font-family: sans-serif;
	color: #dddddd;
}


img{
	width: 100%;
	margin: 0;
}

.nav li:hover{
	display: inline-block;
	background-color: #4f5c88;
	transition: all 0.5s;
}


#nav{
	z-index: 1;
}

#banner p{
	font-family: sans-serif;
	font-size: 32px;
	position: absolute;
 	text-align: center;
  width: 100%;
	letter-spacing: 0.2em;
}

#html{
	bottom: 280px;
}

#css{
	bottom: 195px;
}

#javascript{
	bottom: 115px;
}


.header{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0.2em;
	margin: 0;
	color: #9cb1d2;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.heading{
	background-color: #dddddd;
}

.gridTwo{
	background-color: #dddddd;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas:
	"gmail linkedln github"
}

.gridTwoSquare{
	height: auto;
}





.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas:
		"planning creativity"
		"efficiency efficiency"
		"resourcefulness resourcefulness";
}

.square{
	background-color: rgb(201,98,101);
	height: 280px;
	text-align: center;
	padding-top: 40px;
	position: relative;
	overflow: hidden;
	font-size: 100px;
}

.square:hover{
	background-size: 110%;
	transition: all 0.8s;
}





.planning{
	grid-area: planning;
	font-family: Pacifico;
	color: #00b386;
	background-size: 100%;
	background-image: url("http://wallpaper-gallery.net/images/best-beach-wallpaper/best-beach-wallpaper-10.jpg");
}

.paragraph{
	font-family: sans-serif;
	font-size: 40px;
	color: black;
	background-color: red;
	height: -40px;
}



.creativity{
	grid-area: creativity;
	font-family: brushed;
	color: pink;
	background-image: url("http://adigaskell.org/wp-content/uploads/2016/10/creativity.jpg");
	background-size: 100%;
	background-position: center;
}

.efficiency{
	grid-area: efficiency;
	font-family: sans-serif;
	letter-spacing: 0.2em;
	background-image: url("https://assets.materialup.com/uploads/b6992fb2-7bf4-401d-a233-e34a486b9337/gif.gif");
	background-size: 100%;
	background-position: center;
	color: white;
}

.resourcefulness{
	grid-area: resourcefulness;
	font-family: Asap Condensed;
	color: rgb(201,98,101);
	background-image: url("https://savvybookwriters.files.wordpress.com/2013/11/library_pataskala_026.jpg");
	background-size: 100%;
	background-position: center;

}

.caption{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
	transition: .5s;
	letter-spacing: normal;
}

.caption p{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 18px;
	color: white;
	width: 95%;
	font-family: sans-serif;
}

.square:hover .caption{
	top:0%;
}

.hide{
	overflow: visible;
	height: 100%;
}


.fixed-nav{
	position: fixed;
	width: 100%;
	top: 0;
}

.navbar{
	background-color: #2c3e50;
}

#banner{
	position: relative;
	max-height: 750px;
	overflow: hidden;
}

#example h1{
	background-color: rgb(201,98,101);
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	letter-spacing: 0.2em;
	color: #536a96;
}


#container li
{
	list-style-type: none;
	width: 100%;
	height: 10%;
	text-align: left;
	background-color: white;
	line-height: 30px;
}


input{
	width: 100%;
	height: 40px;
	border-style: none;
	background-color: white;
	box-shadow: 0 0 2px rgba(0,0,0,0.1);
	font-size: 20px;
	letter-spacing: 1px;
	font-family: sans-serif;
	border-radius: 25px;
	font-weight: normal;
	box-sizing: border-box;
	padding-left: 3%;
}

input:focus{
	color: steelblue;
	border: 1px solid steelblue;
	border-radius: 25px;
	outline: none;
}

#cont hr{
	margin: 0;
	color: black;
}

li span{
	background-color: #e74c3c;
	height: 100%;
	margin-right: 7px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: all 0.3s;
}

li:hover span{
	width: 40px;
	transition: all 0.3s;
}


.fa-caret-up{
	float: right;
	margin-right: 5%;
}

.fa-plus{
	float: right;
	margin-right: 5%;
}

.fa-trash{
	color: white;
}

.fa-check{
	float: right;
	color:green;
	margin-right: 15px;
	margin-top: 6px;
}

.checkMark{
	visibility: hidden;
}



.strike{
	text-decoration: line-through;
	color: gray;
}


.title{
	background-color: steelblue;
	width: 100%;
	height: 15%;
	margin-bottom: 0%;
	margin-top: 0;
	font-family: sans-serif;
	color:white;
	padding-top: 9px;
	text-align: left;
	padding-left: 3%;
	font-weight: normal;
}

.resumeContainer
{
	background-color: #dddddd;

}

.resume{
		margin-left: 5%;
		margin-right: 5%;
		background-color: inherit;
		padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 2%;
		font-family: sans-serif;
		letter-spacing: 0.1em;
}


.resume hr{
	width: 50%;
	margin: 0;
  border: 1px solid grey;
}

#contactsHeader{
	margin: 0;
	text-align: center;
	letter-spacing: 0.1em;
	color: #333333;
	font-weight: 600;
	background-color: #dddddd;
}

.gridTwoSquare div i{
	font-size: 50px;
}

.gridTwoSquare div i:hover{
	font-size: 70px;
}


.contacts{
	background-color: inherit;
	margin: 0 auto;
	padding-top: 5%;
	text-align: center;
	padding-bottom: 5%;
}


.contactsFocus{
	color: rgb(201,98,101);
	transition: all 0.5s;
}

#nav .navbar-brand{
	font-size: 30px;
	font-family: sans-serif;
	letter-spacing: 0.1em;
	font-weight: normal;
}

#nav li:hover{
	font-size: 18px;
	transition: all 0.9s;
}

@font-face {
    font-family: brushed;
    src: url(brushed.ttf);
}



@media (max-width: 1082px) {
	#html{
		bottom: 100px;
	}

	#css{
		bottom: 70px;
	}

	#javascript{
		bottom: 40px;
	}

	p{
		font-size: 16px;
	}

	.grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"planning"
			"creativity"
			"efficiency"
			"resourcefulness";
	}

	.planning{
		background-image: none;
		background-color: #aa7777;
	}
	.creativity{
		background-image: none;
		background-color:#778db2;
	}

	.efficiency{
		background-image: none;
		background-color:#536a96;
	}

	.resourcefulness{
		background-image: none;
		background-color:#525077;
	}

}

@media (max-width: 650px) {
	.square{
		font-size: 60px;
		height: 200px;
	}
}



#container{
	background-color: #f7f7f7;
	width: 300px;
	text-align: center;
	margin:0 auto ;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#containerBackground{
	background-color: rgb(201,98,101);
	padding-bottom: 2%;
	max-height: 300px;
	overflow: auto;
	height: 250px;
}

.contactsIcon{
	background-color: inherit;
	height: 70px;
}
.contacts h3{
	margin: 0;
	font-size: 20px;
}

.gridTwo a{
	text-decoration: none !important;
}

.hideh3{
	visibility: collapse;
	overflow: hidden;
}
